
//主颜色变量
$main-color:#1890FF;
$sub-color:#0076e2;
//字颜色
$main-ftcolor:#606266;
$text-l1-color:#666;
$text-l2-color:#999;
$text-l3-color:#ccc;

//字体

$main-font-size:14px;
$main-font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "微软雅黑", Arial, sans-serif;

//提醒颜色
$color-info: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-error: #F56C6C;
$color-disabled: #909399;

//组件功能颜色
$shadow-color:#8c9398;//阴影颜色
$border-color:#d5d7d8;//边框颜色

//滚动条颜色
$scrollbar-bgcolor:#f8f8f8;//滚动条背景颜色
$scrollbar-barcolor:#CFD6DD;//滚动条颜色
$scrollbar-barcolor-active: $main-color;//滚动条点击选中时候的颜色

//高度配置等
$header-height: 46px; // 顶部导航栏高度
$index-tabs-height:39px;
$user-width:220px;
$user-height: 35px; // 用户信息栏高度
$collapse-color: #fff;//菜单收回背景颜色
$white-color:#fff;




