html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  height: 100%;
  @include beautifyScrollbar()
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}


